body,html{
    background-color: #e5e7ef;
}

.color-azul{
    color: #111e6c;
}

.color-rojo{
    color: #ef434e
}

.color-gris-oscuro{
    color: #323232
}

.color-gris-claro{
    color: #969696
}

.no-padding-top{
    padding-top: 0px;
}
